<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Globo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="./public/favicon.ico">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>
    <div id="app">

        <!-- Navbar -->
        <div class="row">
            <nav class="navbar navbar-expand" style="background-color: rgb(91, 91, 255);">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="https://i.imgur.com/Qx8uR89.png" alt="Globo" class="img-logo">
                    </a>
                    <div class="login-container">
                        <p class="username-error-message" v-if="showUsernameError && !loggedIn">
                            Ingrese un usuario para poder iniciar sesión
                        </p>
                        <input type="text" class="input-login" placeholder="Ingresa tu usuario..." v-model="username"
                            v-if="!loggedIn">
                        <!-- Mostrar el nombre del usuario -->
                        <h5 class="h5-welcome-msg" v-model="username" v-if="loggedIn === true">¡Hola {{ username }}!
                        </h5>
                        <button class="sign-in-btn" @click="toggleLogin">{{ loginButtonText }}</button>
                    </div>

                </div>
            </nav>
        </div>

        <!-- Profile -->
        <div class="container text-center">
            <div class="row">
                <div class="col-2">
                    <div class="div-img">
                        <img src="https://i.imgur.com/99qgQJy.jpeg" alt="Foto perfil" class="profile-img">
                    </div>
                    <div class="col-5">
                        <div class="data-img">
                            <h2 class="h2-name">Jane Doe</h2>
                            <p class="p-data"><strong>Email: </strong>jane_doe@gmail.com</p>
                            <p class="p-data"><strong>Fecha de nacimiento: </strong>01/05/1996</p>
                            <p class="p-data"><strong>Teléfono: </strong>918-936-9585</p>
                            <p class="p-data"><strong>Ciudad: </strong>Tokyo, Japón</p>
                            <p class="p-data">Trabajando en <strong>Lawn N</strong></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <!-- Componente Profile -->
                        <profile></profile>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments and About Me -->
        <div class="container text-center">
            <div class="row">
                <div class="col-6">
                    <div class="div-btn-likes">
                        <p class="p-post-time">Publicado hace 1 semana</p>
                        <img src="https://i.imgur.com/bq9db41.jpeg" alt="Imagen publicación" class="img-post">
                        <div class="like-container">
                            <button class="btn-like" @click="toggleLike">{{ likeButtonText }}</button>
                            <p class="like-error-message" v-if="showLikeError && !loggedIn">Inicie sesión para poder dar
                                Me Gusta</p>
                            <p class="p-likes"><strong id="likes">{{ likes }}</strong> Likes</p>
                        </div>
                    </div>
                    <p class="h4-comments">Comentarios</p>
                    <div class="comments" id="comments">
                        <p class="p-comments" v-for="comment in comments">
                            <strong>{{ comment.username }} </strong> {{ comment.text }}
                            <button v-if="isCommentOwner(comment)" @click="deleteComment(comment)">Eliminar</button>
                        </p>
                    </div>
                    <div class="comment-container">
                        <input type="text" placeholder="Deja tu comentario..." class="input-comments"
                            v-model="newComment">
                    </div>
                    <div class="comment-error-container">
                        <button class="btn-comment" @click="addComment">Comentar</button>
                        <p class="comment-error-message"
                            v-if="showCommentError && loggedIn && newComment.trim() === ''">
                            Ingrese un comentario primero
                        </p>
                    </div>
                    <div class="login-error-container">
                        <p class="login-error-message" v-if="showLoginError && !loggedIn">
                            Inicie sesión para comentar
                        </p>
                    </div>
                </div>
                <div class="col-3">

                    <!-- Componente About Me -->
                    <about-me></about-me>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
    <script src="index.js"></script>

</body>

</html>