@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: Montserrat, sans-serif;
    background-color: rgb(230, 230, 230);
}

.row {
    /* border: 2px red; */
    width: 100%;
}

/* NAVBAR */
.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username-error-message {
    display: flex;
    color: black;
    margin-top: 20px;
    margin-right: 10px;

}

.sign-in-btn {
    background-color: whitesmoke;
    color: blue;
    border: none;
    border-radius: 3px;
    margin-left: 20px;
}

.h5-welcome-msg {

    color: white;
    margin-top: 6px;
}

.col-12 {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(91, 91, 255);
}

.input-login {
    float: right;
    background-color: rgb(228, 228, 255);
    border: none;
    border-radius: 5px;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.input-login::placeholder {
    color: rgb(0, 0, 128);
}

/* PERSONAL INFO */

.follow-container {
    display: flex;
    align-items: center;
}

.follow-error-message {
    margin-top: 180px;
    margin-left: 10px;
    color: red;
    font-size: 14px;
}

.img-logo {
    margin-left: 10px;
    margin-bottom: 3px;
    height: 45px;
    float: left;
}

.col-2 {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    width: 1000px;
}

.profile-img {
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(91, 91, 255);
    padding: 2px;
}

.data-img {
    float: left;
    margin-left: 40px;
}

.h2-name {
    text-align: left;
}

.p-data {
    text-align: left;
    font-size: 15px;
}

.follow-btn {
    margin-top: 175px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 6px;
    float: right;
}

/* POST */

.col-6 {
    border-radius: 5px;
    margin-top: 50px;
    background-color: white;
    height: auto;
    width: 600px;
}

.p-post-time {
    color: gray;
    text-align: left;
    padding: 10px 10px;
}

.col-3 {
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;
    width: 350px;
    height: 350px;
    background-color: white;
}

.img-post {
    border-radius: 10px;
    height: 350px;
    width: 550px;
}

/* LIKES */

.like-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.like-error-message {
    margin-top: 25px;
    text-align: center;
    color: red;
}

.btn-like {

    float: left;
    margin-left: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    padding: 9px;
    background-color: whitesmoke;
    color: blue;
    font-weight: bold;
}

.p-likes {
    margin-top: 25px;
    color: black;
    text-align: right;
}

.div-btn-likes {
    display: block;
}

/* COMMENTS */

.h4-comments {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    color: rgb(59, 59, 59);
}

.input-comments {
    float: left;
    margin-left: 10px;
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.btn-comment {
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: whitesmoke;
    font-weight: bold;
    padding: 6px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.comments {
    margin-left: 15px;
    background-color: whitesmoke;
}

.comments p {
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.comment-error-container,
.login-error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.comment-error-message,
.login-error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

input::placeholder {
    padding: 10px;
}

/* ABOUT ME */

.h3-about-me {
    text-align: left;
    margin-top: 5px;
    padding: 10px;
    color: rgb(89, 89, 89);
}

.p-about-me {
    padding: 10px;
    color: rgb(49, 49, 49);
    text-align: left;
    font-size: 14px;
}