body {
    background-color: rgb(206, 206, 206);
}

.row {
    /* border: 2px red; */
    width: 1000px;
}

.img-logo {
    height: 45px;
    float: left;
}

.col-12 {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(91, 91, 255);
}

.input-login {
    float: right;
    background-color: rgb(189, 189, 253);
    border: none;
    border-radius: 5px;
    justify-content: center;
    color: rgb(0, 0, 154);
}

.col-22 {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    width: 1000px;
}

.img-perfil {
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(91, 91, 255);
    padding: 2px;
}

.img-datos {
    float: left;
    margin-left: 40px;
}

.h2-nombre {
    text-align: left;
}

.p-datos {
    text-align: left;
    font-size: 15px;
}


.col-6 {
    display: inline-flex;
    align-items: center;
    margin-top: 50px;
    background-color: white;
}

.col-3 {
    margin-left: 200px;
    display: inline-flex;
    align-items: center;
    margin-top: 50px;
    background-color: white;
}